extends layout
block head
    script(src='bower_components/angular/angular.js')
    script(src='amcharts/amcharts.js')
    script(src='amcharts/xy.js')
    script(src='javascripts/regression.js')
    script(src='javascripts/app.js')
block content
    section(class="featured")
      div(class="content-wrapper")
          hgroup(class="title")
              h1=title 
              h2 Welcome to System2
          p
            |Providing you a better way to analyse student performance.

    section(class="main-content")
        div(ng-controller='sys2Ctrl')
            .overflowable
                div(ng-show='showFile')
                    ol(class="round")
                        li(class="one")
                            h5 To begin, please select a source file.
                            br
                    input(type='file', value='Load Data From File', onchange='angular.element(this).scope().loadStudents(this)')
                div(ng-show='showForm')
                    ol(class="round")
                        li(class="two")
                            h5 File successfully parsed.
                            p
                                |Below is the data from the file, please review and make changes if you wish, then click "Generate Report" when ready.
                    button(ng-click='processStudents()') Generate Report
                    br
                    br
                    div(style='overflow:auto; height: 300px;')
                        div(ng-repeat='student in students')
                            input(ng-model='student.name')
                            input(ng-model='student.grade')
                            input(ng-model='student.score1')
                            input(ng-model='student.score2')
                            label {{student.growth()}}
                            label {{ student.percentGrowth() | percentage:2}}
                    button(ng-click='addStudent()') Add Row
                    br
                    br
                    button(ng-click='processStudents(); showChart=true; showForm=false') Generate Report
                 div(ng-show='showChart')
                    button(ng-click='showLargeChart()') Large
                    button(ng-click='showMedChart()') Medium
                    button(ng-click='showSmallChart()') Small
                    br
                    am-chart