doctype 5
html(ng-app='system2')
  head
    - if (typeof(title) == 'undefined')
        title Express Starter Template
    - else 
        title="System 2"
    
    // include default stylesheets and any view stylesheets
    link(rel='stylesheet', href='/stylesheets/style.default.css')
    
    // include default scripts and any view scripts
    //script(src='/javascripts/jquery-1.8.3.min.js')
    //script(src='/javascripts/modernizr.js')
    block head
    
  body(class="stickyheader leftpanel-collapsed")
      div#preloader
          div#status
              i(class="fa fa-spinner fa-spin")


    #body
        block content
      
